<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Trang Vietsub và cập nhật các bộ Hoạt Hình mới nhất">
	<meta name="keywords" content="Anime, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Điểm Danh</title>
	<link rel="shortcut icon" href="/img/bg.jfif" type="image/x-icon">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">

	<!-- Css Styles -->
	<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
	<link rel="stylesheet" href="/css/plyr.css" type="text/css">
	<link rel="stylesheet" href="/css/nice-select.css" type="text/css">
	<link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
	<link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
	<link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section Begin -->
	<div th:replace="header :: content"></div>
	<!-- Header End -->

	<div class="updateDisplayName spad" style="padding-top: 100px">
		<div class="container" style="background-color: #070720b8;border-radius: 10px;">
			<div class="row">
				<div class="col-lg-12 ud_name">
					<div style="display: flex; justify-content: center;"><img style="width: 500px"
							src="https://res.cloudinary.com/dwn20guz0/image/upload/v1712323793/sxrbfniev13xzxvk562t.png"
							class="img-checkin" alt="Điểm Danh"></div>
					<div class="container mt-5">
						<div class="check-in-grid">
							<div class="day-ddanh" id="day-1">
								<div class="color-number">1</div>
							</div>
							<div class="day-ddanh" id="day-2">
								<div class="color-number">2</div>
							</div>
							<div class="day-ddanh" id="day-3">
								<div class="color-number">3</div>
							</div>
							<div class="day-ddanh" id="day-4">
								<div class="color-number">4</div>
							</div>
							<div class="day-ddanh" id="day-5">
								<div class="color-number">5</div>
							</div>
							<div class="day-ddanh" id="day-6">
								<div class="color-number">6</div>
								<img class="img-dd" src="https://i.pinimg.com/originals/c8/a0/7d/c8a07da11ebadf86f488b4bff6f570f4.gif" />
							</div>
							<div class="day-ddanh" id="day-7">
								<div class="special-day">7</div>
								<img class="img-dd" src="https://i.pinimg.com/originals/c8/a0/7d/c8a07da11ebadf86f488b4bff6f570f4.gif" />
							</div>
							<div class="day-ddanh" id="day-8">
								<div class="color-number">8</div>
							</div>
							<div class="day-ddanh" id="day-9">
								<div class="color-number">9</div>
							</div>
							<div class="day-ddanh" id="day-10">
								<div class="color-number">10</div>
							</div>
							<div class="day-ddanh" id="day-11">
								<div class="color-number">11</div>
							</div>
							<div class="day-ddanh" id="day-12">
								<div class="color-number">12</div>
							</div>
							<div class="day-ddanh" id="day-13">
								<div class="color-number">13</div>
							</div>
							<div class="day-ddanh" id="day-14">
								<div class="special-day">14</div>
							</div>
							<div class="day-ddanh" id="day-15">
								<div class="color-number">15</div>
							</div>
							<div class="day-ddanh" id="day-16">
								<div class="color-number">16</div>
							</div>
							<div class="day-ddanh" id="day-17">
								<div class="color-number">17</div>
							</div>
							<div class="day-ddanh" id="day-18">
								<div class="color-number">18</div>
							</div>
							<div class="day-ddanh" id="day-19">
								<div class="color-number">19</div>
							</div>
							<div class="day-ddanh" id="day-20">
								<div class="color-number">20</div>
							</div>
							<div class="day-ddanh" id="day-21">
								<div class="special-day">21</div>
							</div>
						</div>
					</div>
					<center><button style="margin-top: 20px" id="checkInButton" class="flambutt-on btn btn-dark"
							data-streak="19" disabled="">Điểm Danh</button></center>
					<div class="thong-bao-diem-danh">
						<p>- Đạo hữu cần điểm danh liên tiếp mỗi ngày nếu không sẽ bị reset.</p>
						<p>- Đạo hữu có <strong>1</strong> lần bỏ lỡ duy nhất trong <strong>21</strong> ngày không bị
							reset.</p>
						<p>- Tổng tu vi nhận được nếu điểm danh đầy đủ là : <strong>2100</strong>.</p>
						<p>- Các mốc <strong>7, 14, 21</strong> ngày sẽ thưởng thêm Tinh Thạch tương ứng là: <strong>20
								- 60 - 120</strong>.</p>
						<p>- Hoạt động vĩnh viễn, hết 21 ngày quay về ngày đầu và cứ thế.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer Section Begin -->
	<div th:replace="footer :: content"></div>
	<!-- Footer Section End -->

	<!-- Search model Begin -->
	<div th:replace="search :: content"></div>
	<!-- Search model end -->

	<!-- Js Plugins -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/player.js"></script>
	<script src="/js/jquery.nice-select.min.js"></script>
	<script src="/js/mixitup.min.js"></script>
	<script src="/js/jquery.slicknav.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/main.js"></script>
</body>

</html>