<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Trang Vietsub và cập nhật các bộ Hoạt Hình mới nhất">
	<meta name="keywords" content="Anime, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Hoạt Hình 24</title>
	<link rel="shortcut icon" href="img/bg.jfif" type="image/x-icon">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">

	<!-- Css Styles -->
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
	<link rel="stylesheet" href="css/plyr.css" type="text/css">
	<link rel="stylesheet" href="css/nice-select.css" type="text/css">
	<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
	<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<style>
	.form_activated .input__item input {
		margin: 20px 0;
		padding-left: 10px;
		height: 50px;
		width: 80%;
		font-size: 15px;
		color: #b7b7b7;
		background: #ffffff;
		border: none;
	}
</style>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section Begin -->
	<div th:replace="header :: content"></div>
	<!-- Header End -->

	<!-- Normal Breadcrumb Begin -->
	<section class="normal-breadcrumb set-bg" data-setbg="img/normal-breadcrumb.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="normal__breadcrumb__text">
						<h2>Login</h2>
						<p>Welcome to the official Anime blog.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Normal Breadcrumb End -->

	<!-- Login Section Begin -->
	<section class="login spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login__form">
						<h3>Login</h3>
						<form th:action="@{/login}" method="post">
							<div class="input__item">
								<input class="username" type="text" placeholder="Username" name="username">
								<span class="icon_mail"></span>
							</div>
							<div class="input__item">
								<input class="password" type="password" placeholder="Password" name="password">
								<span class="icon_lock"></span>
							</div>
							<button type="submit" class="site-btn">Login Now</button>
						</form>
						<a href="#" class="forget_pass">Forgot Your Password?</a>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login__register">
						<h3>Dont’t Have An Account?</h3>
						<a href="/signup" class="primary-btn">Register Now</a>
						<div class="form_activated" style="display:none">
							<div class="input__item">
								<input class="activatedCode" type="text" placeholder="Mã Kích Hoạt">
								<span class="fa fa-hand-o-right"></span>
							</div>
							<button type="submit" class="site-btn" onclick="activatedAcc()">Activated</button>
						</div>
					</div>
				</div>
			</div>
			<div class="login__social">
				<div class="row d-flex justify-content-center">
					<div class="col-lg-6">
						<div class="login__social__links">
							<span>or</span>
							<ul>
								<li><a href="#" class="facebook"><i class="fa fa-facebook"></i> Sign in With
										Facebook</a></li>
								<li><a href="/oauth2/authorization/google" class="google"><i class="fa fa-google"></i>
										Sign in With Google</a></li>
								<li><a href="#" class="twitter"><i class="fa fa-twitter"></i> Sign in With Twitter</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Login Section End -->

	<!-- Footer Section Begin -->
	<div th:replace="footer :: content"></div>
	<!-- Footer Section End -->

	<!-- Search model Begin -->
	<div th:replace="search :: content"></div>
	<!-- Search model end -->

	<!-- Js Plugins -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/player.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/mixitup.min.js"></script>
	<script src="js/jquery.slicknav.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
</body>
<script th:if="${param.error}">
	alert("Đăng nhập thất bại. Vui lòng kiểm tra lại tên đăng nhập và mật khẩu.");
</script>
<script th:if="${param.message}">
	alert("Vui lòng kích hoạt tài khoản để được sử dụng");
	document.querySelector(".form_activated").style.display = "block";

	function activatedAcc() {
		const username = document.querySelector('.username').value;
		const password = document.querySelector('.password').value;
		const activatedCode = document.querySelector('.activatedCode').value;

		$.ajax({
			type: "POST",
			url: "/activated-account",
			data: {
				username: username,
				password: password,
				activatedCode: activatedCode
			},
			dataType: 'html',
			timeout: 100000,
			success: function (data) {
				alert(data);
				document.querySelector(".form_activated").style.display = "none";
			},
			error: function (e) {
				console.log("ERROR: ", e);
			}
		})
	}
</script>

</html>